*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
}

header{
    height: 100px;
    background-color: #add8e6;
}

nav{
    height: 100%;
}

.align-center{
    align-items: center;
}

.space.between{
    justify-content: space-between;
}


li>ul{
    padding: 0 10rem;
}