*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;   
}

nav ul{
    list-style-type: none;
}

header{
    height: 75px;
    background-color: #add8e6;
}

nav{
    height: 100%;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

nav>ul{
    width: 68%;
    margin: 0 auto;
    background-color:#daa520;
}

.item-left,.item-right{
    width: 20%;
    display: flex;
    align-items: center;
}

.item-right{
    justify-content: flex-end;
}
.item-left{
    justify-content: flex-start;
}

.item-center{
    width: 60%;
}

.justify-center{
    justify-content: center;
}

.space-evenly{
    justify-content: space-evenly;
}

ul>li{
    padding: 5px;
}

.items-border{
    border: 2px dashed black;
}


.section-blue{
    background-color:#00008b ;
    height: 300px;
}

.jumbotron{
    background-color:#ee82ee ;
    width: 50%;
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;
}